

{% extends 'user_base.html' %}

{% load static %}

{% block content %}


    <!-- ==========Breadcrumb-Section========== -->
    <section class="breadcrumb-area profile-bc-area">
        <div class="container">
            <div class="content">
                <h2 class="title extra-padding">
                    Setting
                </h2>
                <ul class="breadcrumb-list extra-padding">
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>

                    <li>
                        Setting
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Breadcrumb-Section========== -->


    <!-- ========= Profile Section Start -->

    <section class="user-setting-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-5">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                              <button class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="icon">
                                    <i class="fas fa-user"></i>
                                </div> 
                                <span>My Profile</span>
                                <div class="t-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                              </button>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <ul class="links">
                                  <li>
                                      <a  class="active" href="user-setting.html">Profile Info</a>
                                  </li>
                                  <li>
                                      <a href="user-notification.html">Notifications</a>
                                  </li>
                                  <li>
                                      <a href="user-friend-request.html">Friend Requests</a>
                                  </li>
                                  <li>
                                      <a href="user-badges.html">Badges</a>
                                  </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                              <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="icon">
                                    <i class="fas fa-cogs"></i>
                                </div> 
                                <span>
                                    Account
                                </span>
                                <div class="t-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                              </button>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="links">
                                    <li>
                                        <a href="user-account-info.html">Account Info</a>
                                    </li>
                                    <li>
                                        <a href="user-change-pass.html">Change Password</a>
                                    </li>
                                    <li>
                                        <a href="https://pixner.net/peyamba/peyamba/user-privicy-setting.html">Privacy Settings</a>
                                    </li>
                                    <li>
                                        <a href="user-verify-account.html">Verified account</a>
                                    </li>
                                    <li>
                                        <a href="user-close-account.html">Close Account</a>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                              <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <div class="icon">
                                    <i class="far fa-credit-card"></i>
                                </div> 
                                <span>
                                    Subscriptions & Payments
                                </span>
                                <div class="t-icon">
                                    <i class="fas fa-plus"></i>
                                    <i class="fas fa-minus"></i>
                                </div>
                              </button>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="links">
                                    <li>
                                        <a href="">Billing & Payout</a>
                                    </li>
                                    <li>
                                        <a href="">Upgrade Membership Plan</a>
                                    </li>
                                    <li>
                                        <a href="">View Purchase History</a>
                                    </li>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="col-xl-8 col-md-7 ">
                    <div class="page-title">
                        Profile Info
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile-about-box">
                                <div class="top-bg"></div>
                                <div class="p-inner-content">
                                    <div class="profile-img">
                                        <img src="{% if cover_photo %}{{ cover_photo }}{% else %}{% static 'assets/images/profile/user-profile.jpg' %}{% endif %}" alt="">

                                        <div class="active-online"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
    
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-lg-6">
                                <div class="up-photo-card">
                                    <div class="icon">
                                        <i class="fas fa-image"></i>
                                    </div>
                                    <div class="content">
                                        <h4>Change Profile Photo</h4>
                                        <span>100x100p size minimum</span>
                                        <input type="file" name="cover_photo" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <div class="input-info-box mt-30">
                                <div class="header">About your Profile</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="name">Full Name</label>
                                                <input type="text" id="name" name="name" value="{{ name }}" required readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="email">Public Email</label>
                                                <input type="email" id="email" name="email" value="{{ email }}" required readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="my-input-box">
                                                <label for="description">Description</label>
                                                <textarea id="description" name="description" placeholder="Write a little description about you...">{{ description }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="country">Country</label>
                                                <input type="text" id="country" name="country" placeholder=" Add Your Country" value="{{ country }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="city">City</label>
                                                <input type="text" id="city" name="city" value="{{ city }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="birthday">Birthday</label>
                                                <input type="text" id="birthday" name="birthday" value="{{ birthday_readable }}" readonly>
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="occupation">Occupation</label>
                                                <input type="text" id="occupation" name="occupation" placeholder="Add Your Occupation" value="{{ occupation }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="marital_status">Status</label>
                                                <input type="text" id="marital_status" name="marital_status" value="{{ marital_status }}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="my-input-box">
                                                <label for="birthplace">Birthplace</label>
                                                <input type="text" id="birthplace" name="birthplace" placeholder="What Is Your Country Of Birth?" value="{{ birthplace }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-info-box mt-30">
                                <div class="header">Interests</div>
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="my-input-box">
                                                <label for="fav_tv_shows">Favourite TV Shows</label>
                                                <textarea id="fav_tv_shows" name="fav_tv_shows" placeholder="Favourite TV Shows">{{ fav_tv_shows }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="my-input-box">
                                                <label for="fav_music_bands">Favourite Music Bands / Artists</label>
                                                <textarea id="fav_music_bands" name="fav_music_bands" placeholder="Favourite Music Bands / Artists">{{ fav_music_bands }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="my-input-box">
                                                <label for="fav_movies">Favourite Movies</label>
                                                <textarea id="fav_movies" name="fav_movies" placeholder="Favourite Movies">{{ fav_movies }}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="my-input-box">
                                                <label for="fav_games">Favourite Games</label>
                                                <textarea id="fav_games" name="fav_games" placeholder="Favourite Games">{{ fav_games }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons mt-30">
                                <button type="submit" class="custom-button">Save Changes</button>
                                <button type="reset" class="custom-button2">Discard All</button>
                            </div>
                        </form>
                        
                    
                
                </div>
            </div>
        </div>
    </section>

    <!-- ========= Profile Section Start -->


    {% endblock %}